/nbproject/private/
/vendor/
/nbproject/
/docs/*
/docs/api
/docs/manual/_build
/tests/_log/coverage
/tests/_log/coverage.serialized
/tests/_log/*.html
/tests/_log/poor*
/tests/_log/unit-*
/tests/_log/functional-*
/.settings/
/.buildpath
/.project
/.idea
*.php.old
/src/Slick/*.old
/composer.phar
*.DS_Store
build
