{% set messages =  flashMessages.get %}
{% if messages|length > 0 %}
<div class="flash-messages">
    {% for type, especific in messages %}
        {% for message in especific %}
        <div class="alert alert-{{ flashMessages.classes[type] }} alert-dismissable fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message|raw }}
        </div>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}