<h1>Home page</h1>

<form action="" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{ param }}" id="name" />
    <button type="submit">Submit</button>
</form>