<html>
    <head>
        <title>Slick framework tests</title>
        <link href="{{ addCss('app.css') }}" rel="stylesheet">
    </head>
    <body>
    {{ layoutData|raw }}
    <script src="{{ addJs('main.js') }}"></script>
    </body>
</html>