<html>
<head>
    <title>{{ translate ('Sorry...') }}</title>
</head>
<body>
<h1>{{ translate ('Sorry...') }}</h1>
<h3>{{ translate ("It\'s not you. It\'s us.") }}</h3>
<p>{{ translate ("We\'re experiencing an internal server problem. <br/>
    Please try again later or contact <a href=\"#\">a system adminitrator.</a>")|raw }}</p>
</body>
</html>